# Ignore compiled Python files
*.pyc
__pycache__

# Ignore the virtual environment
venv/
.env

# Ignore development files and directories
.vscode/
.idea/

# Ignore static files and media files (if managed by Django)
/staticfiles
/media

# Ignore database migrations and SQLite database file
/migrations/
db.sqlite3

# Ignore Docker-related files
Dockerfile
.dockerignore
.docker
