asgiref==3.8.1
bidict==0.23.1
certifi==2024.2.2
charset-normalizer==3.3.2
chess==1.10.0
Django==5.0.4
django-channels==0.7.0
django-cors-headers==4.3.1
djangorestframework==3.15.1
h11==0.14.0
idna==3.7
oauthlib==3.2.2
psycopg2==2.9.9
python-chess==1.999
python-engineio==4.9.0
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.2.1
wsproto==1.2.0
